@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    --color-primary: 63 81 181
      --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}
